body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(12, 20px); */
}

.cell {
    width: 20px;
    height: 20px;
    border: 0.5px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.cell.active {
    background-color: #e01304;
    border: 0.5px solid;
}

.cell:hover {
    background-color: #ce3b30;
}
