body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
}

.cell {
    width: 20px;
    height: 20px;
    border: 0.5px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.cell.active {
    background-color: #e01304;
    border: 0.5px solid;
}

.cell:hover {
    background-color: #ce3b30;
}

#size-result, #grid-state {
   text-align: center;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent-form {
   text-align: center;
   margin-top: 100px;
}
